.productListParent 
{
    height: calc(100% -72px);
    position: absolute;
    right: 0%;
    margin: 72px 0px 0px 0px;
    width: calc(100%);
}

.productTableParent
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

table 
{
    border-collapse: collapse;
    text-align: center;
}
  
tr 
{
    border-bottom: 1px solid #DCDFE8 !important;
}


.tableParent 
{
    width:98%;
    border-radius: 10px;
    border: 1px solid #DCDFE8;
}

.tableHeader 
{
    height: 60px;
    padding: 15px 20px!important;
    text-transform: capitalize;
    font-size: 17px;
    line-height: 22px;
    background: #f4f5fa;
    color: #110a57;
    font-weight: 700!important;
}

.tableIcons 
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.tableIcons li 
{
    border-radius: 10px;
    border: 1px solid #DCDFE8;
    padding: 8px 10px;
    cursor: pointer;
}

.tableIcons li:nth-child(1)
{
    color: #fff !important;
    background-color: #7EE2FF !important;
}

.tableIcons li:nth-child(2)
{
    color: #fff !important;
    background-color: #78C091 !important;
}

.tableIcons li:nth-child(3)
{
    color: #fff !important;
    background-color: #FF9770 !important;
}


/*product list css*/

.productsDetails 
{
    display: flex;
    flex-direction: column;
    margin: 20px 20px 0px 20px;
}

#productListLeftUl {
    margin: 0%;
    padding: 0%;
}

.productsList 
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.productListLeft li:nth-child(1)
{
    font-family: "Lato",sans-serif;
    font-weight: 600;
    margin: 0px;
    line-height: 1;
    color: #110A57;
    font-size: 1.44em;
    margin-bottom: 1rem!important;
}

.productListLeft li:nth-child(2) 
{
    margin-top: 0;
    margin-bottom: 1rem;
    color: rgb(133, 127, 127);
}

.productListLeft li:nth-child(3) 
{
    margin-top: 0;
    margin-bottom: 1rem;
    color: rgb(133, 127, 127);
}

.addProductsButton
{
    color: #fff;
    background-color: #32BDEA;
    border-color: #32BDEA;
    box-shadow: unset;
    padding: 0.5rem 1rem;  
    
}


.btn-primary:hover 
{
    color: #fff;
    background-color: #17aedf;
    border-color: #16a5d3;
}

.btn 
{
    display: inline-block;
    font-family: "Lato",sans-serif;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 10px;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}

.addProductsButton a
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
